body {
  color: #fffeeb;
  background-image: url('https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

#map {
  height: 50%;
  width: 50%;
  margin: auto;
}

.instruction, #results{
  width: 50%;
  margin: auto;
}

.instruction{
  color: #fffeeb;
  text-align: center;
  font-size: xxx-large;
}

#results{
  background-image: url('https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  color: #fffeeb;
  text-align: center;
  padding-inline: 15%;
  padding-bottom: 15%;
  padding-top: 5%;
  margin-top: 5%;
}


#pac-input {
  background-color: #fffeeb;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.headline{
  font-size: x-large;
  text-emphasis: bold;
}

.year{
  font-size: x-large;
}

#results a:link {
  text-decoration: none;
  color: #fffeeb;
  background-color: brown;
  font-size: large;
}
